argparse==1.2.1
Babel==2.9.1
cffi==1.15.1
chardet==4.0.0
click==7.1.2
cryptography==3.3.2
eventlet==0.33.3
Flask==1.1.4
Flask-Babel==1.0.0
Flask-Login==0.5.0
Flask-SocketIO==4.2.1
future==1.0.0
greenlet==0.4.15
huey==1.10.5
iniparse==0.5
itsdangerous==1.1.0
Jinja2==2.11.3
lxml==5.0.2
MarkupSafe==1.1.1
netifaces==0.11.0
passlib==1.7.4
peewee==3.14.10
pefile==2019.4.18
psutil==6.1.1
psycopg2==2.8.6
pyOpenSSL==19.0.0
pyparsing==2.4.7
python-engineio==3.11.2
python-socketio==4.4.0
pytz==2026.5
requests==2.27.1
six==1.17.0
ujson==2.0.3
urllib3==1.26.20
wakeonlan==1.1.6
Werkzeug==1.0.1
wsgiref==0.1.2
WTForms==2.3.3
ldap3==2.9.1
setproctitle==1.1.10
