argparse==1.2.1
Babel==2.9.1
cffi==1.15.1
chardet==4.0.0
click==6.7
cryptography==3.3.2
eventlet==0.33.3
Flask==1.1.4
Flask-Babel==0.11.2
Flask-Login==0.4.1
Flask-SocketIO==4.2.1
future==0.18.3
greenlet==0.4.15
huey==1.10.2
iniparse==0.5
itsdangerous==1.1.0
Jinja2==2.11.3
lxml==5.0.2
MarkupSafe==1.0
netifaces==0.10.6
passlib==1.7.1
peewee==3.11.2
pefile==2016.3.28
psutil==6.1.1
psycopg2==2.8.6
pyOpenSSL==19.0.0
pyparsing==2.4.7
python-engineio==3.11.2
python-socketio==4.4.0
pytz==2017.2
requests==2.27.1
six==1.17.0
ujson==2.0.3
urllib3==1.26.20
wakeonlan==0.2.2
Werkzeug==1.0.1
wsgiref==0.1.2
WTForms==2.1
ldap3==2.7
setproctitle==1.1.10