Package: tis-waptsetup{% if UNIX=='TRUE' %}-linux-mac{% endif %}
Version: {{ version }}
Section: base
Priority: optional
Architecture: all
Depends: nginx
Maintainer: PADIT Community <182104444+maxcarpone@users.noreply.github.com>
Description: {{ description }}
