<!DOCTYPE html>
<html lang="{{ session.get('lang', 'fr') }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ _("PADIT - Pack And Deploy") }}</title>
    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}", rel="stylesheet" type='text/css'>
    <link href="{{ url_for('static', filename='css/style.css') }}", rel="stylesheet" type='text/css'>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="banner">
        <div class="container">
            <div class="row" style="position:relative;">
                <div class="col-md-12 col-sx-12 text-center" id="logo">
                    <img src="{{ url_for('static', filename='img/padit-header.png') }}" alt="PADIT" style="width:600px;height:200px;">
                </div>
                <div id="language-selector" style="position:absolute;right:15px;top:10px;">
                    <a href="/lang/fr">FR</a> | <a href="/lang/en">EN</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <img class="navbar-brand" src="{{ url_for('static', filename='img/padit-navbar.png') }}" style="width:48px;height:48px;padding:0;margin-top:1px;" alt="PADIT" /> </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ _("Repository") }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/store">{{ _("Local repository") }}</a></li>
                        </ul>
                    </li>
                    {% if data %}
                    <li> <a class="dropdown-toggle" data-toggle="dropdown" href="#">PADIT Server<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/wapt/waptagent.exe">{{ _("PADIT Agent (for deployment to workstations)") }}</a></li>
                            {% if data.wapt.setup.url %}<li><a href="{{data.wapt.setup.url}}">{{ _("PADIT Setup (for installing the administration console)") }}</a></li>{% endif %}
                            {% if data.wapt.deploy.url %}<li><a href="{{data.wapt.deploy.url}}">{{ _("PADIT Deploy (for deployment by GPO)") }}</a></li>{% endif %}
                        </ul>
                    </li>
                    {% endif %}
                    <li><a target="_blank" href="https://github.com/maxcarpone/PADIT/issues">{{ _("Bug tracker (GitHub)") }}</a></li>
                    <li> <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ _("Help") }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a target="_blank" href="https://github.com/maxcarpone/PADIT">{{ _("Documentation") }}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    {% block content %}
    <p>Content</p>
    {% endblock content %}

    <footer>
        <div class="contact">
            <div class="container">
                <h4>PADIT Community — GPLv3</h4>
                <p>
                    {{ _("WAPT Community 1.8.2 is free software historically developed by") }}
                    <a target="_blank" href="https://www.tranquil.it/">Tranquil IT Systems</a>.
                    {{ _("This distribution is derived from that version") }}<br>
                    {{ _("and is maintained independently from Tranquil IT Systems.") }}
                </p>
                <p>
                    {{ _("WAPT continues to be developed and commercially distributed by Tranquil IT Systems in its current editions.") }}
                    <a target="_blank" href="https://www.wapt.fr/">{{ _("Discover the current WAPT product from Tranquil IT Systems.") }}</a>
                </p>
            </div>
        </div>
    </footer>
    <!-- jQuery Version 1.11.1 -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>

</html>
